{% extends 'base.html.twig' %}

{% block body %}

	<div>
		<div class="jumbotron">
			<h1 class="display-4">Nos Conseils !</h1>
			<p class="lead">Perdre ses cheveux, c’est le moment redoutée du traitement !																																																																	
					Vous pouvez les laisser tomber petit à petit, de façon naturelle ou décider de vous raser la tête pour écourter ce moment difficile.
				    Conseil : ne pas rasez à blanc mais laissez 2-3 mm pour permettre à vos cheveux de tomber sans douleurs.
					Si vous portez les cheveux longs, vous pouvez adopter une coupe courte avant le début du traitement de chimiothérapie.
					Quand vos cheveux repousseront, vous retrouverez vite cette petite coupe...
					Mais vous pouvez également décider d'attendre le moment où vos cheveux commencent à tomber afin d'en profiter au maximum. 
					Vous pourrez demander au revendeur de perruques de couper vos cheveux qui tombent et sortir de chez lui coiffée avec la prothèse capillaire choisie.</p>
			<hr class="my-4">
			<p>Le foulard est l’accessoire indispensable après une chimio et la chute de cheveux qui s’ensuit. C'est l'alternative colorée à la perruque, surtout l’été quand il fait chaud.
					Préférez-les en coton ou mieux en bambou, 
					doux et anti-bactérien. Evitez ceux en viscose ou en soie car ils risquent de glisser.</p>
			<a class="btn btn-outline-light btn-lg" href="/products" role="button">
				aller à la boutique
			</a>
		</div>
	</div>

{% endblock %}